@import url('./reset.less');
@import url('./mix.less');
// @import url('./px2rem.less');
body {
	background-color: #fff;
}
header {
	height: 96px;
	padding-left: 66px;
	padding-right: 66px;
	padding-top: 15px;
	padding-bottom: 15px;
	.bsb;
	.logo {
		img {
			vertical-align: middle;
		}
	}
}