@import url('./reset.less');
@import url('./mix.less');
// @import url('./px2rem.less');
body {
	background-color: #fff;
}
header {
	height: 96px;
	padding-left: 66px;
	padding-right: 66px;
	padding-top: 10px;
	padding-bottom: 10px;
	.bsb;
	.logo {
		img {
			display: block;
			float: left;
			&:last-of-type{
				margin-left: 10px;
				margin-top: 18px;
			}
		}
	}
	.menu {
		padding-top: 30px;
		padding-left: 50px;
		.nav {
			li {
				display: inline-block;
				float: left;
				margin: 0 16px;
				a {
					display: block;
					font-size: 14px;
					&::after {
						display: block;
						content: '';
						width: 65%;
						height: 2px;
						background-color: #09a5e8;
						margin-left: auto;
						margin-right: auto;
						opacity: 0;
					}
					&:hover {
						&::after {
							opacity: 1;
							width: 100%;
							transition: all .6s;
						}
					}
				}
				&.current {
					a::after {
						opacity: 1;
					}
				}
			}
		}
	}
	.tel {
		padding-top: 30px;
		font-size: 14px;
		color: #2a2a2a;
		padding-left: 30px;
		background-image: url(../images/tel.png);
		background-repeat: no-repeat;
		background-size: auto auto;
		background-position: 5px 32px;

		span:nth-child(2) {
			color: #E2E1DE;
			padding-left: 16px;
			padding-right: 16px;
		}
	}
}
footer {
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	z-index: 1;
	.footer {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		padding-top: 100px;
		text-align: center;
		.bsb;
		p:first-of-type {
			img {
				display: inline-block;
				vertical-align: middle;
				margin: 0 5px;
			}
		}
		p:last-of-type {
			padding-top: 50px;
			font-size: 14px;
			a {
				margin: 0 15px;
			}
			span {
				padding-left: 10px
			}
		}
	}
}
.content {
	.main {
		padding-left: 66px;
		padding-right: 66px;
	}
	.swiper-container {
		background-color: #F7F7F6;
	}
	.intor-buttons {
		text-align: center;
		background-color: #F7F7F6;
		a {
			display: inline-block;
			width: 100px;
			height: 40px;
			line-height: 40px;
			border-radius: 20px;
			text-align: center;
			font-size: 14px;
			border: 1px solid #00B7E9;
			background-color: #00B7E9;
			color: #fff;
			margin: 20px 10px 0;
			&:last-of-type {
				background-color: #fff;
				color: #00B7E9
			}
			&:hover {
				box-shadow: 0 1px 5px #2DC2EB;
				transition: all .5s;
			}
		}
	}
	.captain{
		height: 50px;
		line-height: 50px;
		color: #2a2a2a;
		font-size: 16px;
		padding-left: 40px;
		margin-bottom: 10px;
		background-image: url(../images/tag.png);
		background-repeat: no-repeat;
		background-size: 32px auto;
		background-position: 0 center;
		> a {
			display: inline-block;
			font-size: 12px;
			color: #C5C2BC;
		}
	}
	.module {
		padding-left: 120px;
		padding-right: 120px;
		padding-top: 50px;
		background-color: #F7F7F6;
		.news {
			margin-left: -2%;
			margin-right: -2%;
			padding-bottom: 5%;
			> ul {
				display: block;
				> li {
					display: inline-block;
					float: left;
					width: 33.333%;
					padding-left: 2%;
					padding-right: 2%;
					.bsb;
					.wrapper {
						background: #fff;
						border-radius: 8px;
						overflow: hidden;
					}
					> img {
						display: block;
						border-top-left-radius: 6px;
						border-top-right-radius: 6px;
						position: relative;
						z-index: 1;
					}
					.summary {
						position: relative;
						width: 80%;
						margin: -15% auto 0;
						background-color: #fff;
						border-top-left-radius: 6px;
						border-top-right-radius: 6px;
						z-index: 10;
						padding: 5% 6%;
						.bsb;
						> h3 {
							font-size: 22px;
							color: #DDDAD6;
						}
						> p {
							font-size: 14px;
							color: #424242;
							margin: 4% 0 6%;
							height: 40px;
							line-height: 20px;
							overflow: hidden;
						}
						> summary {
							font-size: 12px;
							color: #65635F;
							height: 32px;
							line-height: 16px;
							overflow: hidden;
						}
						> a {
							display: inline-block;
							width: 80px;
							height: 32px;
							line-height: 32px;
							border-radius: 20px;
							text-align: center;
							font-size: 14px;
							border: 1px solid #00B7E9;
							margin-top: 50px;
							background-color: #fff;
							color: #00B7E9;
							&:hover {
								box-shadow: 0 1px 5px #2DC2EB;
								transition: all .5s;
							}
						}
					}
				}
			}
		}
	}
	.system {
		padding-left: 120px;
		padding-right: 120px;
		padding-top: 30px;
	}
	
}
