@import url('./reset.less');
@import url('./mix.less');
// @import url('./px2rem.less');
body {
	background-color: #FAFAF9;
}
header {
	height: 96px;
	padding-left: 66px;
	padding-right: 66px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fff;
	.bsb;
	.logo {
		height: 100%;
		img {
			display: block;
			// float: left;
			// &:last-of-type{
			// 	margin-left: 10px;
			// 	margin-top: 18px;
			// }
		}
	}
	.menu {
		padding-top: 30px;
		padding-left: 50px;
		.nav {
			li {
				display: inline-block;
				float: left;
				margin: 0 16px;
				a {
					display: block;
					font-size: 18px;
					font-weight: bold;
					&::after {
						display: block;
						content: '';
						width: 65%;
						height: 2px;
						background-color: #09a5e8;
						margin-left: auto;
						margin-right: auto;
						opacity: 0;
					}
					&:hover {
						&::after {
							opacity: 1;
							width: 100%;
							transition: all .6s;
						}
					}
				}
				&.current {
					a::after {
						opacity: 1;
					}
				}
			}
		}
	}
	.tel {
		padding-top: 30px;
		font-size: 18px;
		color: #00A6E7;
		font-family: "黑体";
		padding-left: 30px;
		background-image: url(../images/tel.jpg);
		background-repeat: no-repeat;
		background-size: auto auto;
		background-position: 5px 32px;
		span:nth-child(2) {
			color: #E2E1DE;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}
footer {
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	z-index: 1;
	.footer {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		padding-top: 100px;
		text-align: center;
		.bsb;
		p:first-of-type {
			img {
				display: inline-block;
				vertical-align: middle;
				margin: 0 5px;
			}
		}
		p:last-of-type {
			padding-top: 55px;
			font-size: 14px;
			a {
				margin: 0 15px;
			}
			span {
				padding-left: 10px
			}
		}
	}
}
.fixed {
	position: fixed;
	width: 300px;
	right: 0;
	top: 20%;
	z-index: 999999;
	.fixed-wrap {
		position: relative;
		z-index: 1;
		width: 100%;
		img {
			width: 100%;
		}
		.fixed-text,
		.fixed-btn {
			position: absolute;
		}
		.fixed-text {
			left: 44%;
			top: 36%;
			z-index: 99999;
			color: #fff;
			> p {
				font-size: 14px;
				a {
					color: #fff;
				}
			}
			> p:first-of-type {
				font-size: 16px;
			}
		}
		.fixed-btn {
			right: 10%;
			top: 10%;
			color: #fff;
			font-size: 18px;
			cursor: pointer;
		}
	}
	.fixed-news {
		padding-top: 20px;
		padding-bottom: 20px;
		.fixed-btn {
			top: 2%;
			right: 3%;
		    font-size: 40px;
		    color: #918D88;
		    height: 40px;
		    line-height: 32px;
		    overflow: hidden;
		}
		background-color: #F6F7F6; 
		.fixed-news-img {
			width: 240px;
			height: 240px;
			margin-left: auto;
			margin-right: auto;
			background: #fff;
			padding: 50px;
			border-radius: 50%;
			.bsb;
			img {
				display: block;
				width: 100%;
			}
			p {
				font-size: 14px;
				padding-top: 5px;
				text-align: center;
			}
		}
		> div {
			text-align: center;
		}
		> div:last-of-type {
			padding-top: 20px;
			font-size: 16px;
			> p {
				font-size: 16px;
			}
		}
	}
}
.pagination {
	> a {
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 14px;
		border-radius: 50%;
		margin-right: 10px;
		background-color: #fff;
		color: #00B9EC;
		text-align: center;
		&:hover {
			background-color: #dcdcdc;
			color: #fff;
		}
		&.current {
			background-color: #00B9EC;
			color: #fff;
		}
	}
}
.bream {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
	color: #95908B;
	background-color: #FAFAF9;
	a {
		color: #95908B;
	}
	&.share-bream {
		background: none;
		margin-top: -60px;
		padding-left: 8.5%;
		padding-right: 8.5%;
	}
}
.news-bream {
	background-color: #fff;
}
.teambg {
	position: relative;
	z-index: 1;
	> img {
		display: block;
		width: 100%;
	}
	> span {
		display: block;
		width: 25%;
		height: 40px;
		background: #fff;
		border-radius: 25px;
		padding-left: 20px;
		padding-right: 50px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -20px;
		margin-left: -12.5%;
		background-image: url('../images/search.jpg');
		background-repeat: no-repeat;
		background-size: auto 20px;
		background-position: 95% center;
		.bsb;
		> input {
			display: block;
			width: 100%;
			height: 100%;
			font-size: 14px;
			border: 0;
		}
	}
}
.content {
	.surrounds {
		padding-left: 18%;
		padding-right: 18%;
		background-color: #FAFAF9;
		padding-bottom: 10%;
		margin-bottom: -10%;
		p {
			padding-bottom: 30px;
			img {
				display: block;
				margin: 0;
				border: 0;
				padding: 0;
				max-width: 100%;
			}
		}
	}
	.swiper-container {
		background-color: #F7F7F6;
		.swiper-pagination {
			.swiper-pagination-bullet {
				width: 8px;
				height: 8px;
				background: none;
				border-style: solid;
				border-color: #fff;
				border-width: 2px;
				opacity: 1;
			}
			.swiper-pagination-bullet-active {
				&::after {
					display: block;
					content: '';
					width: 4px;
					height: 4px;
					margin: 2px;
					border-radius: 50%;
					background-color: #fff;
				}
			}
		}
	}
	.intor-buttons {
		text-align: center;
		background-color: #F7F7F6;
		a {
			display: inline-block;
			width: 100px;
			height: 40px;
			line-height: 40px;
			border-radius: 20px;
			text-align: center;
			font-size: 14px;
			border: 1px solid #00B7E9;
			background-color: #00B7E9;
			color: #fff;
			margin: 20px 10px 0;
			&:last-of-type {
				background-color: #fff;
				color: #00B7E9
			}
			&:hover {
				box-shadow: 0 1px 5px #2DC2EB;
				transition: all .5s;
			}
		}
	}
	.captain{
		height: 50px;
		line-height: 50px;
		color: #2a2a2a;
		font-size: 24px;
		padding-left: 50px;
		margin-bottom: 10px;
		background-image: url(../images/tag.png);
		background-repeat: no-repeat;
		background-size: 40px auto;
		background-position: 0 center;
		font-family: "黑体";
		> span {
			font-family: "黑体";
			font-weight: 300;
		}
		> a {
			display: inline-block;
			font-size: 16px;
			height: 50px;
			line-height: 60px;
			overflow: hidden;
			color: #C5C2BC;
		}
	}
	.module {
		padding-left: 120px;
		padding-right: 120px;
		padding-top: 50px;
		background-color: #F7F7F6;
		.news {
			margin-left: -2%;
			margin-right: -2%;
			padding-bottom: 5%;
			> ul {
				display: block;
				> li {
					display: inline-block;
					float: left;
					width: 33.333%;
					padding-left: 2%;
					padding-right: 2%;
					.bsb;
					.wrapper {
						background: #fff;
						border-radius: 8px;
						overflow: hidden;
						> img {
							transform: scale(1, 1);
							transition: all .5s;
						}
						&:hover {
							> img {
								transform: scale(1.1, 1.1);
								transition: all .5s;
							}
						}
					}
					> img {
						display: block;
						border-top-left-radius: 6px;
						border-top-right-radius: 6px;
						position: relative;
						z-index: 1;
					}
					.summary {
						position: relative;
						width: 80%;
						margin: -15% auto 0;
						background-color: #fff;
						border-top-left-radius: 6px;
						border-top-right-radius: 6px;
						z-index: 10;
						padding: 5% 6% 10%;
						.bsb;
						> h3 {
							font-size: 22px;
							font-weight: bold;
							font-family: "黑体";
							color: #DDDAD6;
						}
						> p {
							font-size: 14px;
							color: #424242;
							font-weight: bold;
							margin: 4% 0 6%;
							height: 40px;
							line-height: 20px;
							overflow: hidden;
						}
						> summary {
							font-size: 12px;
							color: #65635F;
							height: 32px;
							line-height: 16px;
							overflow: hidden;
						}
						> a {
							display: inline-block;
							width: 80px;
							height: 32px;
							line-height: 32px;
							border-radius: 20px;
							text-align: center;
							font-size: 14px;
							border: 1px solid #00B7E9;
							margin-top: 50px;
							background-color: #fff;
							color: #00B7E9;
							&:hover {
								box-shadow: 0 1px 5px #2DC2EB;
								transition: all .5s;
							}
						}
					}
				}
			}
		}
	}
	.system {
		padding-left: 120px;
		padding-right: 120px;
		padding-top: 80px;
		margin-bottom: -1%;
		> ul {
			display: block;
			margin: -10px -1% 0;
			> li {
				display: inline-block;
				float: left;
				width: 50%;
				padding: 1%;
				.bsb;
			}
		}
		.teams {
			padding: 10px 5% 0;
			position: relative;
			z-index: 1;
			.swiper-container {
				background: none;
				.swiper-pagination-bullet {
					width: 8px;
					height: 8px;
					background: none;
					border-style: solid;
					border-color: #00B8E7;
					border-width: 2px;
					opacity: 1;
				}
				.swiper-pagination-bullet-active {
					&::after {
						display: block;
						content: '';
						width: 4px;
						height: 4px;
						margin: 2px;
						border-radius: 50%;
						background-color: #00B8E7;
					}
				}
			}
			.swiper-button-next,
			.swiper-button-prev {
				width: 126px;
				top: 80%;
				background-repeat: no-repeat;
				background-size: 100% auto;
				background-position: 0 center;
			}
			.swiper-button-next {
				right: 0;
				background-image: url('../images/a-2.png');
			}
			.swiper-button-prev {
				left: 0;
				background-image: url('../images/a-1.png');
			}
		}
		.contact {
			overflow: hidden;
			padding-top: 10px;
			padding-bottom: 80px;
			> div {
				width: 50%;
				&.address {
					margin-top: 40px;
					background-color: #F6F7F6;
					border-radius: 8px;
					padding: 4% 4% 8%;
					.bsb;
					> div {
						> span {
							font-size: 16px;
						}
						> p {
							padding-left: 80px;
							padding-right: 100px;
							font-size: 16px;
						}
					}
					> p {
						font-size: 16px;
						color: #2a2a2a;
						padding-bottom: 20px;
					}
					> ul {
						padding-top: 60px;
						li {
							display: inline-block;
							float: left;
							width: 40%;
							padding: 0;
							.bsb;
							> div {
								width: 120px;
								height: 120px;
								background: #fff;
								border-radius: 50%;
								padding: 20px;
								text-align: center;
								> img {
									display: block;
									width: 60%;
									margin: 5px auto 5px;
								}
							}
						}
					}
				}
				&.contact-img {
					width: 60%;
					border-radius: 8px;
					margin-left: -10%;
					overflow: hidden;
					> img {
						display: block;
						width: 100%;
					}
				}
			}
		}
	}
	.teams {
		padding-left: 25%;
		padding-right: 25%;
		padding-top: 40px;
		> ul {
			display: block;
			> li {
				display: block;
				margin-bottom: 50px;
				> img {
					display: block;
					width: 46%;
					border-radius: 8px;
				}
				.team-summary {
					padding-left: 50%;
					padding-top: 10px;
					> h3 {
						font-size: 26px;
						font-weight: bold;
						> small {
							font-weight: normal;
							padding-left: 20px;
							font-weight: bold;
							font-size: 15px;
							color: #6E6B66;
						}
					}
					.summary {
						padding-top: 20px;
						padding-bottom: 80px;
						> p {
							color: #6E6B66;
							font-size: 15px;
							line-height: 40px;
						}
					}
					> a {
						display: block;
						width: 90px;
						height: 36px;
						line-height: 36px;
						font-size: 14px;
						border: 1px solid #20a3dc;
						color: #20a3dc;
						text-align: center;
						border-radius: 18px;
						&:hover {
							box-shadow: 0 1px 5px #2DC2EB;
							transition: all .5s;
						}
					}
				}
			}
		}
	}
	.teamdetail {
		padding-left: 10%;
		padding-right: 10%;	
		> img {
			display: block;
			width: 20%;
			margin: 0;
			padding: 0;
			border: 0;
			border-radius: 8px;
		}
		.teamdetail-summary {
			padding-left: 25%;
			> h3 {
				font-size: 24px;
				font-weight: bold;
				> small {
					font-weight: normal;
					padding-left: 20px;
					font-size: 16px;
					color: #6E6B66;
				}
			}
			.team-text {
				padding-top: 50px;
				padding-bottom: 50px;
				color: #2a2a2a;
				font-size: 16px;
				line-height: 36px;
				> p {
					font-size: 16px;
				}
			}
		}
		.team-now {
			> h3{
				font-size: 24px;
				font-weight: bold;
			}
			ul {
				display: block;
				padding-left: 24px;
				padding-top: 10px;
				padding-bottom: 50px;
				li {
					display: block;
					line-height: 40px;
					font-size: 16px;
					> span {
						font-size: 16px;
						padding-right: 20px;
						vertical-align: 0px;
					}
				}
			}
		}
	}
	.intro {
		padding-bottom: 80px;
		.module {
			padding-top: 20px;
			padding-left: 0;
			padding-right: 0;
			background: none;
			.news {
				padding-bottom: 0;
				> ul {
					> li {
						.summary {
							margin-top: 10px;
							> p:first-of-type {
								text-align: center;
								font-size: 18px;
								font-weight: bold;
								> span {
									padding: 3px;
									border-bottom: 1px solid #FFF786;
								}
								
							}
							> summary {
								line-height: 22px;
								height: 110px;
								margin-top: 15px;
								margin-bottom: 30px;
								font-size: 14px;
							}
						}
					}
				}
			}
		}
		.intro-item {
			width: 46%;
			.bsb;
			> summary {
				padding-left: 40px;
				padding-right: 40px;
				> p {
					padding-top: 20px;
					font-size: 16px;
					line-height: 32px;
				}
			}
			> .summary {
				padding-left: 40px;
				padding-right: 40px;
				padding-top: 40px;
				padding-bottom: 40px;
				background-image: url('../images/bg-1.png');
				background-repeat: no-repeat;
				background-position: left bottom;
				background-size: 30% auto;
				> p {
					padding-top: 20px;
					font-size: 16px;
					line-height: 32px;
				}
			}
			> .tag2 {
				background-image: url('../images/tag-2.png');
			}
			> .tag3 {
				background-image: url('../images/tag-3.png');
			}
		}
		.intro-swiper {
			padding-left: 50%;
			img {
				display: block;
				border-radius: 8px;
			}
			.intro-swiper-container {
				padding-top: 38px;
				> .img {
					padding: 90px 8% 0 0px;
					background-image: url('../images/tag-4.png');
					background-repeat: no-repeat;
					background-position: right top;
					background-size: 75% auto;
					.bsb;
				}
				.swiper-container {
					border-radius: 8px;
				}
				.swiper-pagination {
					width: 40%;
					text-align: center;
					.swiper-pagination-bullet {
						opacity: 1;
						width: 12px;
						height: 12px;
						margin: 20px 5px;
						border: 2px solid #00B8E7;
						background: none;
						.bsb;
					}
					.swiper-pagination-bullet-active {
						background: #fff;
						border-width: 4px;
					}
				}
				
			}
		}
		.diagn {
			padding-bottom: 90px;
			background-image: url('../images/tag-4.png');
			background-repeat: no-repeat;
			background-position: 10% bottom;
			background-size: 20% auto;
			img {
				display: block;
				padding: 0;
				border: 0;
				margin: 0;
			}
			.swiper-pagination {
				.swiper-pagination-bullet{
					opacity: 1;
				    width: 12px;
				    height: 12px;
				    margin: 20px 5px;
				    border: 2px solid #00B8E7;
				    background: none;
				    box-sizing: border-box;
				}
				.swiper-pagination-bullet-active {
					background: #fff;
    				border-width: 4px;
    				&::after {
    					background: none;
    				}
				}
			}
			
		}
		.diagn-text {
			text-align: center;
			background-image: url('../images/bg-2.png');
			background-repeat: no-repeat;
			background-position: 84% bottom;
			background-size: 10% auto;
			padding-bottom: 3.5%;
			margin-bottom: -3.5%;
			> p {
				line-height: 36px;
				font-size: 20px;
			}
		}
	}
	.news-container {
		padding-left: 10%;
		padding-right: 10%;
		.news-list {
			width: 70%;
			.news-item {
				padding-bottom: 60px;
			}
			.news-time {
				width: 100px;
				height: 100px;
				border-radius: 50%;
				overflow: hidden;
				background-color: #00B9EC;
				color: #fff;
				text-align: center;
				.news-time-wrap {
					font-family: "黑体";
					> div{
						padding-top: 30px;
						display: inline-block;
						width:40px;
						text-align: center;
						padding-left: 5px;
						padding-right: 5px;
						.bsb;
					}
					> div:first-of-type {
						padding-left: 5px;
						padding-right: 5px;
						text-align: right;
					}
					> div:nth-of-type(2){
						width: 16px;
						height: 50px;
						padding: 0;
						margin-top: 25px;
						background-image: url('../images/n-bg.png');
						background-repeat: no-repeat;
						background-position: center center;
						background-size: auto 100%;
						overflow: hidden;
					}
					> div:last-of-type {
						text-align: left;
					    line-height: 40px;
					    font-size: 14px;
					    padding-left: 0;
					}
				}
			}
			.page-wrap {
				padding-left: 120px;
			}
			.news-infos {
				padding-left: 120px;
				padding-top: 36px;
				> a {
					display: block;
					width: 100px;
					height: 36px;
					line-height: 36px;
					border-radius: 18px;
					border: 1px solid #00A4DA;
					background-color: #fff;
					color: #00A4DA;
					text-align: center;
					font-size: 14px;
					&:hover {
						box-shadow: 0 1px 5px #2DC2EB;
						transition: all .5s;
					}
				}
				h3 {
					font-size: 18px;
					padding-bottom: 24px;
					font-weight: bold;
				}
				> .summary {
					font-size: 16px;
					line-height: 32px;
					padding-bottom: 24px;
					> p {
						font-size: 16px;
						color: #65635F;
					}
					.img {
						padding-bottom: 30px;
						img {
							display: block;
							max-width: 100%;
							border: 0;
							padding: 0;
							margin: 0;
						}
						
					}
				}
			}
		}
		.sider {
			width: 27%;
			padding-top: 42px;
			.side-item {
				border-radius: 8px;
				border: 1px solid #CFCBC6;
				padding-top: 5px;
				padding-bottom: 5px;
				margin-bottom: 25px;
				.captain {
					font-size: 14px;
					height: 40px;
					line-height: 40px;
					margin-bottom: 0;
					background-size: 22px auto;
					background-position: 22px center;
				}
				.side-bg {
					margin-top: -4px;
				}
				.side-info {
					padding: 20px 24px;
					text-align: center;
					> img {
						display: block;
						max-width: 100%;
						background-color: #ccc;
					}
					> p {
						font-size: 14px;
						line-height: 20px;
						text-align: center;
						padding-top: 15px;
						padding-bottom: 15px;
					}
					> a {
						display: inline-block;
						width: 100px;
						height: 36px;
						line-height: 36px;
						border-radius: 18px;
						border: 1px solid #00A4DA;
						background-color: #fff;
						color: #00A4DA;
						text-align: center;
						font-size: 14px;
						&:hover {
							box-shadow: 0 1px 5px #2DC2EB;
							transition: all .5s;
						}
					}
					> ul {
						text-align: left;
						margin-top: -10px;
						margin-bottom: -10px;
						> li {
							font-size: 14px;
							line-height: 40px;
						}
					}
				}
				.side-content {
					padding: 20px 24px;
					text-align: center;
					> p {
						font-size: 16px;
						line-height: 30px;
						padding-top: 5px;
						padding-bottom: 5px;
						font-weight: bold;
					}
					> p:first-of-type {
						&::before {
							display: inline-block;
							height: 20px;
							content: '';
							width: 40px;
							vertical-align: -4px;
							background-image: url('../images/tel.png');
							background-repeat: no-repeat;
							background-position: center;
							background-size: auto 16px;
						}
					}
					> p:nth-of-type(2){
						&::before {
							display: inline-block;
							height: 20px;
							content: '';
							width: 40px;
							vertical-align: -4px;
							background-image: url('../images/time.png');
							background-repeat: no-repeat;
							background-position: center;
							background-size: auto 16px;
						}
					}
					.side-img {
						padding-top: 20px;
						> div {
							width: 45%;
						}
					}
				}
			}
		}
	}
	.news-container {
		padding-left: 10%;
		padding-right: 10%;
		.news-title {
			padding-left: 15%;
			padding-right: 15%;
			.bsb;
			h2 {
				background: none;
				text-align: center;
				font-weight: bold;
				&::before {
					vertical-align: -10px;
					display: inline-block;
					margin-right: 10px;
					content: '';
					width: 40px;
					height: 40px;
					background-repeat: no-repeat;
					background-image: url('../images/tag-3.png');
					background-position: center center;
					background-size: 100% auto;
				}
			}
			> p {
				font-size: 16px;
				padding-bottom: 30px;
				text-align: center;
				border-bottom: 1px solid #E2DEDA;
				> span {
					display: inline-block;
					width: 140px;
					height: 40px;
					line-height: 40px;
					border-radius: 20px;
					text-align: center;
					font-size: 14px;
					border: 1px solid #00B7E9;
					background-color: #00B7E9;
					color: #fff;
					margin: 20px 20px 0;
					&:hover {
						box-shadow: 0 1px 5px #2DC2EB;
						transition: all .5s;
					}
					> a {
						color: #fff;
						margin: 0 2px;
					}
				}
				> a {
					display: inline-block;
					width: 140px;
					height: 40px;
					line-height: 40px;
					border-radius: 20px;
					text-align: center;
					font-size: 16px;
					border: 1px solid #00B7E9;
					background-color: #00B7E9;
					color: #fff;
					margin: 20px 20px 0 10px;
					&:hover {
						box-shadow: 0 1px 5px #2DC2EB;
						transition: all .5s;
					}
				}
			}
		}
		.news-info {
			padding-top: 30px;
			line-height: 40px;
			padding-bottom: 200px;
			p {
				font-size: 16px;
			}
			.news-img {
				padding-top: 20px;
				> div {
					width: 50%;
					padding-left: 2%;
					padding-right: 2%;
					padding-bottom: 10px;
					.bsb;
					img {
						display: block;
						max-width: 100%;
						border: 0;
						margin: 0;
						padding: 0;
					}
					> p {
						text-align: center;
						font-size: 14px;
					}
				}
			}
		}
		.news-page {
			padding-bottom: 50px;
			> div {
				width: 45%;
				position: relative;
				z-index: 1;
				img {
					display: block;
					margin: 0;
					padding: 0;
					border: 0;
					max-width: 100%;
				}
				> a {
					display: block;
					width: 100%;
					height: 110%;
					position: absolute;
					top: -10%;
					left: 0;
					colro: #fff;
					background-repeat: no-repeat;
					background-image: url('../images/arr-bg-1.png');
					background-position: 0 bottom;
					background-size: 100% auto;
					padding-left: 20px;
					padding-right: 20px;
					padding-top: 20%;
					.bsb;
					> div {
						color: #fff;
						font-size: 18px;
						> p {
							padding-top: 10px;
							font-size: 15px;
						}
					}
				}
			}
			> div:last-of-type {
				text-align: right;
				> a {
					background-image: url('../images/arr-bg-2.png');
				}
			}
		}
	}
	.share {
		padding-left: 8.5%;
		padding-right: 8.5%;
		.sider {
			width: 245px;
			padding-top: 42px;
			.bsb;
			.side-item {
				border-radius: 8px;
				border: 1px solid #CFCBC6;
				padding-top: 5px;
				padding-bottom: 5px;
				margin-bottom: 25px;
				.captain {
					font-size: 14px;
					height: 40px;
					line-height: 40px;
					margin-bottom: 0;
					background-size: 22px auto;
					background-position: 22px center;
				}
				.side-bg {
					margin-top: -4px;
				}
				.side-info {
					padding: 20px 24px;
					text-align: center;
					> img {
						display: block;
						max-width: 100%;
						background-color: #ccc;
					}
					> p {
						font-size: 14px;
						line-height: 20px;
						text-align: center;
						padding-top: 15px;
						padding-bottom: 15px;
					}
					> a {
						display: inline-block;
						width: 100px;
						height: 36px;
						line-height: 36px;
						border-radius: 18px;
						border: 1px solid #00A4DA;
						background-color: #fff;
						color: #00A4DA;
						text-align: center;
						font-size: 14px;
						&:hover {
							box-shadow: 0 1px 5px #2DC2EB;
							transition: all .5s;
						}
					}
					> ul {
						text-align: left;
						margin-top: -10px;
						margin-bottom: -10px;
						margin-left: -24px;
						margin-right: -24px;
						> li {
							font-size: 16px;
							height: 50px;
							line-height: 60px;
							overflow: hidden;
							text-align: center;
							&.current, &:hover {
								background-image: url('../images/s-bg.png');
								background-repeat: no-repeat;
								background-position: 0 bottom;
								background-size: auto 100%;
								& > a {
									color: #fff;
								}
							}
						}
					}
				}
				.side-content {
					padding: 20px 24px;
					text-align: center;
					> p {
						font-size: 16px;
						line-height: 30px;
						padding-top: 5px;
						padding-bottom: 5px;
						font-weight: bold;
					}
					> p:first-of-type {
						&::before {
							display: inline-block;
							height: 20px;
							content: '';
							width: 40px;
							vertical-align: -4px;
							background-image: url('../images/tel.png');
							background-repeat: no-repeat;
							background-position: center;
							background-size: auto 16px;
						}
					}
					> p:nth-of-type(2){
						&::before {
							display: inline-block;
							height: 20px;
							content: '';
							width: 40px;
							vertical-align: -4px;
							background-image: url('../images/time.png');
							background-repeat: no-repeat;
							background-position: center;
							background-size: auto 16px;
						}
					}
					.side-img {
						padding-top: 20px;
						> div {
							width: 45%;
						}
					}
				}
			}
		}
		.share-container {
			padding-left: 300px;
			padding-top: 42px;
			h2 {
				font-size: 24px;
				border-bottom: 1px solid #E2DEDA;
				padding-bottom: 16px;
				font-weight: bold;
			}
			.share-summary {
				font-size: 16px;
				line-height: 36px;
				> h3 {
					font-size: 18px;
					padding: 20px 10px;
				}
				> img {
					max-width: 80%;
					display: block;
					margin-left: auto;
					margin-right: auto;
				}
				> p {
					font-size: 16px;
					padding-top: 10px;
					padding-bottom: 10px;
				}
			}
		}
	}
}
// circle menus
.circle-menus {
	position: relative;
	z-index: 999;
	.circle-nav {
		@width: 320px;
		width: @width;
		height: @width;
		border-radius: 50%;
		background: rgba(9,164,231,.83);
		position: absolute;
		right: 2%;
		bottom: -66px;
		z-index: 999999;
		.circle-wrap {
			text-align: center;
			width: 100%;
			height: 100%;
			background-image: url('../images/e.png');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 16% auto;
			> ul {
				height: @width;
				position: relative;
				z-index: 999;
				> li:not(.line) {
					@width: 140px;
					display: block;
					position: absolute;
					width: @width;
					height: @width;
					z-index: 99999;
					text-align: center;
					font-size: 14px;
					border-radius: 50%;
					padding: 10px;
					.bsb;
					// overflow: hidden;
					> a {
						display: block;
						width: 100%;
						height: 100%;
						border-radius: 50%;
						color: #fff;
						font-weight: bold;
						// overflow: hidden;
						padding-top: 25px;
						position: relative;
						.bsb;
						&::before {
							display: block;
							content: '';
							height: 24px;
							margin-bottom: 10px;
							margin-top: 10px;
							background-repeat: no-repeat;
							background-position: center;
							background-size: auto 100%;
						}
						> span {
							font-weight: bold;
							@width: 140px;
							display: block;
							position: absolute;
							background: rgba(255, 255, 255, .6);
							transform: scale(.1, .1);
							opacity: 0;
							width: @width;
							height: @width;
							z-index: 99999;
							text-align: center;
							font-size: 14px;
							border-radius: 50%;
							padding: 10px;
							.bsb;
							overflow: hidden;
							left: -10px;
							top: -20px;
							transition: all .3s;
							> span {
								display: block;
								opacity: .5;
								width: 100%;
								height: 100%;
								border-radius: 50%;
								color: #000;
								background-color: #fff;
								overflow: hidden;
								padding-top: 25px;
								transition: all .3s;
								.bsb;
								&::before {
									display: block;
									content: '';
									height: 24px;
									margin-bottom: 10px;
									margin-top: 10px;
									background-repeat: no-repeat;
									background-position: center;
									background-size: auto 100%;
								}
							}
						}
					}
					&:nth-of-type(1){
						top: -8px;
						left: 50px;
						> a {
							padding-top: 15px;
							> span {
								> span {
									&::before {
										background-image: url('../images/c-m-2.png');
									}
								}
							}
						}
						> a::before {
							display: block;
							content: '';
							height: 24px;
							margin-bottom: 10px;
							margin-top: 10px;
							background-image: url('../images/c-m-1.png');
							background-repeat: no-repeat;
							background-position: center;
							background-size: auto 100%;
						}
						
						&:hover {
							// > a::before {
							// 	background-image: url('../images/c-m-2.png');
							// }
							
						}
					}
					&:nth-of-type(2){
						top: -8px;
						left: 150px;
						> a {
							> span {
								top: -10px;
								> span {
									&::before {
										background-image: url('../images/c-m-4.png');
										background-size: auto 70%;
									}
								}
							}
						}
						> a::before {
							display: block;
							content: '';
							height: 24px;
							margin-bottom: 10px;
							margin-top: 10px;
							background-image: url('../images/c-m-3.png');
							background-repeat: no-repeat;
							background-position: center;
							background-size: auto 70%;
						}
						// &:hover {
						// 	> a::before {
						// 		background-image: url('../images/c-m-4.png');
						// 	}
						// }
					}
					&:nth-of-type(3){
						top: 66px;
						left: 196px;
						> a::before {
							display: block;
							content: '';
							height: 30px;
							margin-bottom: 6px;
							margin-top: 6px;
							background-image: url('../images/c-m-5.png');
							background-repeat: no-repeat;
							background-position: center;
							background-size: auto 100%;
						}
						> a {
							> span {
								top: -10px;
								> span {
									&::before {
										background-image: url('../images/c-m-6.png');
										height: 30px;
										margin-top: 6px;
										margin-bottom: 6px;
									}
								}
							}
						}
						// &:hover {
						// 	> a::before {
						// 		background-image: url('../images/c-m-6.png');
						// 	}
						// }
					}
					&:nth-of-type(4){
						top: 155px;
						left: 180px;
						> a::before {
							display: block;
							content: '';
							height: 24px;
							margin-bottom: 10px;
							margin-top: 10px;
							background-image: url('../images/c-m-7.png');
							background-repeat: no-repeat;
							background-position: center;
							background-size: auto 90%;
						}
						> a {
							> span {
								top: -10px;
								> span {
									&::before {
										background-image: url('../images/c-m-8.png');
										background-size: auto 90%;
									}
								}
							}
						}
						// &:hover {
						// 	> a::before {
						// 		background-image: url('../images/c-m-8.png');
						// 	}
						// }
					}
					&:nth-of-type(5){
						top: 200px;
						left: 83px;
						> a::before {
							display: block;
							content: '';
							height: 24px;
							margin-bottom: 10px;
							margin-top: 10px;
							background-image: url('../images/c-m-9.png');
							background-repeat: no-repeat;
							background-position: center;
							background-size: auto 80%;
						}
						> a {
							> span {
								top: -10px;
								> span {
									&::before {
										background-image: url('../images/c-m-10.png');
										background-size: auto 80%;
									}
								}
							}
						}
						// &:hover {
						// 	> a::before {
						// 		background-image: url('../images/c-m-10.png');
						// 	}
						// }
					}
					&:nth-of-type(6){
						top: 136px;
						left: -6px;
						> a::before {
							display: block;
							content: '';
							height: 30px;
							margin-bottom: 8px;
							margin-top: 8px;
							background-image: url('../images/c-m-11.png');
							background-repeat: no-repeat;
							background-position: center;
							background-size: auto 100%;
						}
						> a {
							> span {
								top: -10px;
								> span {
									&::before {
										height: 30px;
										margin-bottom: 8px;
										margin-top: 8px;
										background-image: url('../images/c-m-12.png');
									}
								}
							}
						}
						// &:hover {
						// 	> a::before {
						// 		background-image: url('../images/c-m-12.png');
						// 	}
						// }
					}
					&:nth-of-type(7){
						top: 48px;
						left: -10px;
						> a::before {
							display: block;
							content: '';
							height: 24px;
							margin-bottom: 10px;
							margin-top: 10px;
							background-image: url('../images/c-m-13.png');
							background-repeat: no-repeat;
							background-position: center;
							background-size: auto 100%;
						}
						> a {
							> span {
								top: -10px;
								> span {
									&::before {
										background-image: url('../images/c-m-14.png');
									}
								}
							}
						}
						// &:hover {
						// 	> a::before {
						// 		background-image: url('../images/c-m-14.png');
						// 	}
						// }
					}
					&:hover {
						z-index: 999999;
						// background: rgba(255, 255, 255, .6);
						// > a {
						// 	color: #000;
						// 	background-color: #fff;
						// }
						> a {
							> span {
								transform: scale(1, 1);
								opacity: 1;
								transition: all .3s;
								> span {
									opacity: 1;
									transition: all .3s;
								}
							}
						}
					}
				}
				>li.line {
					display: block;
					width: 66px;
					height: 22px;
					background-image: url('../images/c-m-line.png');
					background-repeat: no-repeat;
					background-size: 100% auto;
					background-position: center;
					position: absolute;
					z-index: 999997;
					left: 50%;
					top: 50%;
					margin-left: -33px;
					margin-top: -11px;
					// .rotate(100deg);
					&:nth-of-type(8){
						top: 51px;
						left: 168px;
						.rotate(82deg);
					}
					&:nth-of-type(9){
						top: 96px;
						left: 250px;
						.rotate(134deg);
					}
					&:nth-of-type(10){
						left: 265px;
    					top: 185px;
						.rotate(178deg);
					}
					&:nth-of-type(11){
						top: 258px;
						left: 206px;
						.rotate(230deg);
					}
					&:nth-of-type(12){
						left: 102px;
   						top: 252px;
						.rotate(286deg);
					}
					&:nth-of-type(13){
						left: 50px;
    					top: 166px;
						.rotate(344deg);
					}
					&:nth-of-type(14){
						top: 84px;
						left: 80px;
						.rotate(393deg);
					}
				}
			}
		}
	}
}
// boot page
.boot {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	overflow: hidden;
	// > img {
		// display: block;
		transform: scale(1, 1);
		animation: ScaleImage 3s 5s linear forwards;
	// }
}
.boot-title {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
	padding: 15px;
	opacity: 1;
	background-image: url('../images/bootbg.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	.bsb;
	// animation-delay:3s;
	// -webkit-animation-delay:3s;
	// animation-name: Opacity;
	// animation-duration: 3s;
	animation: Opacity 5s 3s linear forwards;
	// tansition: all 3s;
	// -webkit-tansition: all 3s;
}
.boot-container {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3;
	> a {
		display: block;
		width: 100%;
		height: 100%;
		// background-image: url('../images/handbg.png');
		// background-position: center 96%;
		// background-repeat: no-repeat;
		// background-size: 60px auto;
		overflow: hidden;
		position: relative;
		z-index: 1;
		.boot-logo {
			width: 280px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 15%;
			text-align: center;
			animation: Scale 3s 5s linear forwards;
			> img {
				display: block;
				max-width: 180px;
				padding: 0;
				margin-left: auto;
				margin-right: auto;
			}
			> p {
				color: #000;
				font-size: 28px;
				span {
					font-size: 16px;
					padding-top: 5px;
					border-top: 1px solid #00A6E7;
				}
			}
			> p:first-of-type{
				padding-top: 24px;
			}
			> p:last-of-type{
				margin-top: -5px;
			}
		}
		> span {
			position: absolute;
			left: 50%;
			bottom: 2%;
			display: block;
			margin-left: -33px;
			width: 66px;
			height: 110px;
			background-image: url('../images/handbg.png');
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: 100% auto;
			animation: fadeIn 2s linear infinite;
		}
		.boot-info {
			font-size: 24px;
			text-align: center;
			font-weight: bold;
			color: #000;
			margin-top: -4%;
			opacity: 0;
			animation: fadeOut 3s 8s linear forwards;
		}
	}
}
